Library/
obj/
Temp/
etc/
Assets/StreamingAssets/FFmpegOut/Windows/output.mp4
Assets/StreamingAssets/FFmpegOut/Windows/output.mp4.meta
Assets/StreamingAssets/FFmpegOut/Windows/oo.mp4
1.wav
2.wav
3.wav
4.wav
5.wav
Assets/StreamingAssets/FFmpegOut/Windows/oo.mp4.meta
TLSkypeBuild/TLSkype_Data/StreamingAssets/FFmpegOut/Windows/output.mp4
TLSkypeBuild/TLSkype.exe - Shortcut.lnk
Assets/FFmpeg/GettingStarted.pdf
TLSkype.apk
TLSkype.zip
aa.apk
Build/TLSkype_Data/Managed/UnityEngine.UIModule.dll
Build/TLSkype.exe
Build/UnityPlayer.dll
Build/TLSkype_Data/app.info
Build/TLSkype_Data/boot.config
Build/TLSkype_Data/globalgamemanagers
Build/TLSkype_Data/globalgamemanagers.assets
Build/TLSkype_Data/level0
Build/TLSkype_Data/resources.assets
Build/TLSkype_Data/sharedassets0.assets
Build/TLSkype_Data/sharedassets0.assets.resS
Build/TLSkype_Data/Managed/Accessibility.dll
Build/TLSkype_Data/Managed/Assembly-CSharp.dll
Build/TLSkype_Data/Managed/DOTween.dll
Build/TLSkype_Data/Managed/DOTween43.dll
Build/TLSkype_Data/Managed/DOTween46.dll
Build/TLSkype_Data/Managed/DOTween50.dll
Build/TLSkype_Data/Managed/Mono.Data.Tds.dll
Build/TLSkype_Data/Managed/Mono.Posix.dll
Build/TLSkype_Data/Managed/Mono.Security.dll
Build/TLSkype_Data/Managed/Mono.WebBrowser.dll
Build/TLSkype_Data/Managed/System.dll
Build/TLSkype_Data/Managed/System.Configuration.dll
Build/TLSkype_Data/Managed/System.Core.dll
Build/TLSkype_Data/Managed/System.Data.dll
Build/TLSkype_Data/Managed/System.Drawing.dll
Build/TLSkype_Data/Managed/System.EnterpriseServices.dll
Build/TLSkype_Data/Managed/System.Numerics.dll
Build/TLSkype_Data/Managed/System.Security.dll
Build/TLSkype_Data/Managed/System.Transactions.dll
Build/TLSkype_Data/Managed/System.Windows.Forms.dll
Build/TLSkype_Data/Managed/System.Xml.dll
Build/TLSkype_Data/Managed/UnityEngine.dll
Build/TLSkype_Data/Managed/UnityEngine.AIModule.dll
Build/TLSkype_Data/Managed/UnityEngine.AIModule.xml
Build/TLSkype_Data/Managed/UnityEngine.ARModule.dll
Build/TLSkype_Data/Managed/UnityEngine.ARModule.xml
Build/TLSkype_Data/Managed/UnityEngine.AccessibilityModule.dll
Build/TLSkype_Data/Managed/UnityEngine.AccessibilityModule.xml
Build/TLSkype_Data/Managed/UnityEngine.AnimationModule.dll
Build/TLSkype_Data/Managed/UnityEngine.AnimationModule.xml
Build/TLSkype_Data/Managed/UnityEngine.AssetBundleModule.dll
Build/TLSkype_Data/Managed/UnityEngine.AssetBundleModule.xml
Build/TLSkype_Data/Managed/UnityEngine.AudioModule.dll
Build/TLSkype_Data/Managed/UnityEngine.AudioModule.xml
Build/TLSkype_Data/Managed/UnityEngine.ClothModule.dll
Build/TLSkype_Data/Managed/UnityEngine.ClothModule.xml
Build/TLSkype_Data/Managed/UnityEngine.ClusterInputModule.dll
Build/TLSkype_Data/Managed/UnityEngine.ClusterInputModule.xml
Build/TLSkype_Data/Managed/UnityEngine.ClusterRendererModule.dll
Build/TLSkype_Data/Managed/UnityEngine.ClusterRendererModule.xml
Build/TLSkype_Data/Managed/UnityEngine.CoreModule.dll
Build/TLSkype_Data/Managed/UnityEngine.CoreModule.xml
Build/TLSkype_Data/Managed/UnityEngine.CrashReportingModule.dll
Build/TLSkype_Data/Managed/UnityEngine.CrashReportingModule.xml
Build/TLSkype_Data/Managed/UnityEngine.DirectorModule.dll
Build/TLSkype_Data/Managed/UnityEngine.DirectorModule.xml
Build/TLSkype_Data/Managed/UnityEngine.GameCenterModule.dll
Build/TLSkype_Data/Managed/UnityEngine.GameCenterModule.xml
Build/TLSkype_Data/Managed/UnityEngine.GridModule.dll
Build/TLSkype_Data/Managed/UnityEngine.GridModule.xml
Build/TLSkype_Data/Managed/UnityEngine.IMGUIModule.dll
Build/TLSkype_Data/Managed/UnityEngine.IMGUIModule.xml
Build/TLSkype_Data/Managed/UnityEngine.ImageConversionModule.dll
Build/TLSkype_Data/Managed/UnityEngine.ImageConversionModule.xml
Build/TLSkype_Data/Managed/UnityEngine.InputModule.dll
Build/TLSkype_Data/Managed/UnityEngine.InputModule.xml
Build/TLSkype_Data/Managed/UnityEngine.JSONSerializeModule.dll
Build/TLSkype_Data/Managed/UnityEngine.JSONSerializeModule.xml
Build/TLSkype_Data/Managed/UnityEngine.Networking.dll
Build/TLSkype_Data/Managed/UnityEngine.ParticleSystemModule.dll
Build/TLSkype_Data/Managed/UnityEngine.ParticleSystemModule.xml
Build/TLSkype_Data/Managed/UnityEngine.ParticlesLegacyModule.dll
Build/TLSkype_Data/Managed/UnityEngine.ParticlesLegacyModule.xml
Build/TLSkype_Data/Managed/UnityEngine.PerformanceReportingModule.dll
Build/TLSkype_Data/Managed/UnityEngine.PerformanceReportingModule.xml
Build/TLSkype_Data/Managed/UnityEngine.Physics2DModule.dll
Build/TLSkype_Data/Managed/UnityEngine.Physics2DModule.xml
Build/TLSkype_Data/Managed/UnityEngine.PhysicsModule.dll
Build/TLSkype_Data/Managed/UnityEngine.PhysicsModule.xml
Build/TLSkype_Data/Managed/UnityEngine.ScreenCaptureModule.dll
Build/TLSkype_Data/Managed/UnityEngine.ScreenCaptureModule.xml
Build/TLSkype_Data/Managed/UnityEngine.SharedInternalsModule.dll
Build/TLSkype_Data/Managed/UnityEngine.SharedInternalsModule.xml
Build/TLSkype_Data/Managed/UnityEngine.SpatialTracking.dll
Build/TLSkype_Data/Managed/UnityEngine.SpriteMaskModule.dll
Build/TLSkype_Data/Managed/UnityEngine.SpriteMaskModule.xml
Build/TLSkype_Data/Managed/UnityEngine.SpriteShapeModule.dll
Build/TLSkype_Data/Managed/UnityEngine.SpriteShapeModule.xml
Build/TLSkype_Data/Managed/UnityEngine.StandardEvents.dll
Build/TLSkype_Data/Managed/UnityEngine.StyleSheetsModule.dll
Build/TLSkype_Data/Managed/UnityEngine.StyleSheetsModule.xml
Build/TLSkype_Data/Managed/UnityEngine.TerrainModule.dll
Build/TLSkype_Data/Managed/UnityEngine.TerrainModule.xml
Build/TLSkype_Data/Managed/UnityEngine.TerrainPhysicsModule.dll
Build/TLSkype_Data/Managed/UnityEngine.TerrainPhysicsModule.xml
Build/TLSkype_Data/Managed/UnityEngine.TextRenderingModule.dll
Build/TLSkype_Data/Managed/UnityEngine.TextRenderingModule.xml
Build/TLSkype_Data/Managed/UnityEngine.TilemapModule.dll
Build/TLSkype_Data/Managed/UnityEngine.TilemapModule.xml
Build/TLSkype_Data/Managed/UnityEngine.Timeline.dll
Build/TLSkype_Data/Managed/UnityEngine.UI.dll
Build/TLSkype_Data/Managed/UnityEngine.UIElementsModule.dll
Build/TLSkype_Data/Managed/UnityEngine.UIElementsModule.xml
Build/TLSkype_Data/Managed/UnityEngine.UIModule.xml
Build/TLSkype_Data/Managed/UnityEngine.UNETModule.dll
Build/TLSkype_Data/Managed/UnityEngine.UNETModule.xml
Build/TLSkype_Data/Managed/UnityEngine.UnityAnalyticsModule.dll
Build/TLSkype_Data/Managed/UnityEngine.UnityAnalyticsModule.xml
Build/TLSkype_Data/Managed/UnityEngine.UnityConnectModule.dll
Build/TLSkype_Data/Managed/UnityEngine.UnityConnectModule.xml
Build/TLSkype_Data/Managed/UnityEngine.UnityWebRequestAudioModule.dll
Build/TLSkype_Data/Managed/UnityEngine.UnityWebRequestAudioModule.xml
Build/TLSkype_Data/Managed/UnityEngine.UnityWebRequestModule.dll
Build/TLSkype_Data/Managed/UnityEngine.UnityWebRequestModule.xml
Build/TLSkype_Data/Managed/UnityEngine.UnityWebRequestTextureModule.dll
Build/TLSkype_Data/Managed/UnityEngine.UnityWebRequestTextureModule.xml
Build/TLSkype_Data/Managed/UnityEngine.UnityWebRequestWWWModule.dll
Build/TLSkype_Data/Managed/UnityEngine.UnityWebRequestWWWModule.xml
Build/TLSkype_Data/Managed/UnityEngine.VRModule.dll
Build/TLSkype_Data/Managed/UnityEngine.VRModule.xml
Build/TLSkype_Data/Managed/UnityEngine.VehiclesModule.dll
Build/TLSkype_Data/Managed/UnityEngine.VehiclesModule.xml
Build/TLSkype_Data/Managed/UnityEngine.VideoModule.dll
Build/TLSkype_Data/Managed/UnityEngine.VideoModule.xml
Build/TLSkype_Data/Managed/UnityEngine.WebModule.dll
Build/TLSkype_Data/Managed/UnityEngine.WebModule.xml
Build/TLSkype_Data/Managed/UnityEngine.WindModule.dll
Build/TLSkype_Data/Managed/UnityEngine.WindModule.xml
Build/TLSkype_Data/Managed/mscorlib.dll
Build/TLSkype_Data/MonoBleedingEdge/EmbedRuntime/MonoPosixHelper.dll
Build/TLSkype_Data/MonoBleedingEdge/EmbedRuntime/mono-2.0-bdwgc.dll
Build/TLSkype_Data/Resources/unity default resources
Build/TLSkype_Data/Resources/unity_builtin_extra
Build/TLSkype_Data/StreamingAssets/out.wav
Build/TLSkype_Data/StreamingAssets/FFmpegOut/Windows/WaveOutTestCSharp.exe
Build/TLSkype_Data/StreamingAssets/FFmpegOut/Windows/WaveOutTestCSharp.pdb
Build/TLSkype_Data/StreamingAssets/FFmpegOut/Windows/WaveOutTestCSharp.exe.config
Build/TLSkype_Data/StreamingAssets/FFmpegOut/Windows/ffmpeg.exe
